@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --background-color: #E9ECED;
  --white-color: #ffffff;
  --lighter-blue: #3883CC;
  --dark-blue: #2969A1;
  --light-blue: #2872B0;
  --dark-gray:#9FA5AA;
  --light-gray:#C7C9C9;
  --blue-text-color:#2872B0;
}


body {
  background: var(--background-color);
  font-family: 'Courier New', Courier, monospace;
}

